<div class="report-writeup-table">

  <p class="write-section-header"></p>
  <br>
  <p class="write-section-header">Presenting Issues</p>
  <p class="write-up-section-text">{{report.presenting_issue}}</p>
  <br>
  <p class="write-section-header">Classroom Behavior Assessment</p>
  <p class="write-up-section-text">{{report.class_behav_assess}}</p>
  <br>
  <p class="write-section-header">Setting</p>
  <p class="write-up-section-text">{{report.r_setting}}</p>
  <br>
  <p class="write-section-header">Active Engaged Time</p>
  <p class="write-up-section-text">{{report.r_aet}}</p>
  <br>
  <p class="write-section-header">Passive Engaged Time</p>
  <p class="write-up-section-text">{{report.r_pet}}</p>
  <br>
  <p class="write-section-header">Off-Task Motor Behavior</p>
  <p class="write-up-section-text">{{report.r_oftm}}</p>
  <br>
  <p class="write-section-header">Off-Task Verbal Behavior</p>
  <p class="write-up-section-text">{{report.r_oftv}}</p>
  <br>
  <p class="write-section-header">Off-Task Passive Behavior</p>
  <p class="write-up-section-text">{{report.r_oftp}}</p>
  <br>
  <p class="write-section-header">Findings</p>
  <p class="write-up-section-text">{{report.r_finding}}</p>
  <br>
  <p class="write-section-header">{{report.custom_one_title}}</p>
  <p class="write-up-section-text">{{report.r_customone}}</p>
  <br>
  <p class="write-section-header">{{report.custom_two_title}}</p>
  <p class="write-up-section-text">{{report.r_customtwo}}</p>
  <br>
  <p class="write-section-header">{{report.custom_three_title}}</p>
  <p class="write-up-section-text">{{report.r_customthree}}</p>
  <br>
  <p class="write-section-header">Recommendations</p>
  <p class="write-up-section-text">{{report.r_recommendation}}</p>
  <br>
  <br>
  <p class="write-up-section-text">{{report.counselor_name}}</p>

</div>
