  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-10">
      <h2 class="underline-h">Recorded Sessions</h2>
    </div>
  </div>

  <div class="row session-list-row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-10">
      <table class="table session-summary-table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th class="hidden-xs">Setting</th>
            <th class="hidden-xs">Task</th>
            <th>Status</th>
            <th>View</th>
          </tr>
        </thead>
        {{#each sessions as |session|}}
          <tbody>
            <tr>
              <td>
                {{session.obs_on}}
              </td>
              <td class="hidden-xs">
                {{session.obs_setting}}
              </td>
              <td class="hidden-xs">
                {{session.obs_task}}
              </td>
              <td>
                {{#if session.completed}}
                  Completed
                {{else}}
                  Incomplete
                {{/if}}
              </td>
              <td>
                <button id="view-session-details-btn" type="button" class="btn btn-info btn-sm current" data-current-session-id="{{session.id}}" data-current-student-id="{{session.student_id}}">View Session</button>
              </td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>
  </div>

  <div class="row empty-session-table">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-10">
      <p>No sessions exist for this student</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-10">
      <div class="create-session-student-btn-container">
        <button id="create-session-student-btn" class="btn btn-success current" type="button" data-current-student-id="{{session.student_id}}">Create Session</button>
      </div>
      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
      </div>
    </div>
  </div>
