
<h3>Student Sessions</h3>

<table class="table session-summary-table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Setting</th>
      <th>Task</th>
      <th>Status</th>
      <th>View</th>
    </tr>
  </thead>
  {{#each sessions as |session|}}
    <tbody>
      <tr>
        <td class="display-obs-num">
          {{session.obs_on}}
        </td>
        <td class="display-obs-aet">
          {{session.obs_setting}}
        </td>
        <td class="display-obs-pet">
          {{session.obs_task}}
        </td>
        <td>
          {{#if session.completed}}
            Completed
          {{else}}
            Incomplete
          {{/if}}
        </td>
        <td>
          <input id="view-session-details-btn" class="current" type="button" value="View Session" data-current-session-id="{{session.id}}" data-current-student-id="{{session.student_id}}">
        </td>
      </tr>
    </tbody>
  {{/each}}
</table>
<br><br>

<div class="create-session-student-record-container">
  <h3>New Session</h3>
  <p>To create a new session for <span class="current-student-fn"></span> <span class="current-student-ln"></span>, please click the button below:
    <div class="create-session-student-btn-container">
      <input id="create-session-student-btn" class="current" type="button" value="New Session" data-current-student-id="{{session.student_id}}">
    </div>
  </p>
</div>

<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="View Dashboard">
</div>
