<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <h1>Session Overview</h1>
      <p>Session Date: {{session.obs_on}}</p>
      <p><span class="highlight-red">Session Status: {{#if session.completed}}Complete{{else}}Incomplete{{/if}}</span></p>
      <table class="table session-record-table table-hover">
        <tbody>
          <tr>
            <td class="session-record-title session-record-school">
              Observation Setting:
            </td>
            <td class="display-session-school">
              {{session.obs_setting}}
            </td>
          </tr>
          <tr>
            <td class="session-record-title session-record-teacher">
              Observation Task:
            </td>
            <td class="display-session-teacher">
              {{session.obs_task}}
            </td>
          </tr>
          <tr>
            <td class="session-record-title session-record-grade">
              Number of Interval:
            </td>
            <td class="display-session-grade">
              {{session.int_num}}
            </td>
          </tr>
          <tr>
            <td class="session-record-title session-record-grade">
              Interval Length (seconds):
            </td>
            <td class="display-session-grade">
              {{session.obs_time}}
            </td>
          </tr>
          <tr>
            <td class="session-record-title session-record-grade">
              Session Comment:
            </td>
            <td class="display-session-grade">
              {{session.comment}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="dashboard-session-btn-container btn-bottom-margin">
        <button type="button" class="btn dashboard-student-record-btn btn-info current" data-current-student-id="" data-current-session-id="{{session.id}}">Student Record</button>
        <button id="session-record-view-report" type="button" class="btn btn-success current" data-current-student-id="" data-current-session-id="{{session.id}}">Generate Report</button>
        <button id="session-record-btn-edit" type="button" class="btn btn-warning current" data-current-student-id="" data-current-session-id="{{session.id}}">Edit Session</button>
        <button type="button" class="btn show-record-delete btn-danger current new-line-btn" data-current-student-id="" data-current-session-id="{{session.id}}">Delete Session</button>
      </div>

      <div class="row delete-confirmation-row">
        <div class="col-xs-12">
          <div class="delete-confirmation-contain">
            <div class="form-group delete-confirmation">
              <h3>Delete Confirmation:</h3>
              <label>This action will permanently delete the record.  Would you like to continue?</label>
              <br>
              <button id="session-record-delete" type="button" class="btn btn-danger current" data-current-student-id="{{student.id}}" data-current-session-id="{{session.id}}">Yes</button>
              <button type="button" class="btn btn-primary session-delete-cancel current" data-current-student-id="{{session.id}}">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
        <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
      </div>
    </div>
  </div>
</div>
