<div class="update-sessions-form-container">

<form class="form sessions-form" id="update-session-form" name="update-session-form">
  <fieldset>
    <legend>Update Session Form</legend>
    <br>
    <p class="field-description">Session Date</p>
    <input name="session[obs_on]" placeholder="Session Date" type="date" value="{{session.obs_on}}">
    <br>
    <p class="field-description">Session Setting</p>
    <input name="session[obs_setting]" placeholder="Session Setting" type="text" value="{{session.obs_setting}}">
    <br>
    <p class="field-description">Session Task</p>
    <input name="session[obs_task]" placeholder="Session Task" type="text" value="{{session.obs_task}}">
    <br>
    <p class="field-description">Number of Intervals</p>
    <input name="session[int_num]" placeholder="Number of Intervals" type="text" value="{{session.int_num}}" readonly>
    <br>
    <p class="field-description">Time of Intervals (in seconds)</p>
    <!-- <p class="predefined-value">{{session.obs_time}}</p> -->
    <input class="read-only" name="session[obs_time]" type="text" placeholder="Time" value="{{session.obs_time}}" readonly>
    <br>
    <p class="field-description">Session Comment</p>
    <!-- <p class="predefined-value">{{session.obs_time}}</p> -->
    <input name="session[comment]" placeholder="Comment" type="text" value="{{session.comment}}">
    <br>
    <!-- <input name="session[student_id]" id="create-session-stud-id" type="hidden" value="{{session.student_id}}"> -->
    <input name="submit" class="current" type="submit" value="Submit Update" data-obs-time="{{session.obs_time}}" data-int-num="{{session.int_num}}" data-current-student-id="" data-current-session-id="{{session.id}}">
  </fieldset>
</form>
</div>

<br><br>
<div class="dashboard-container">
  <input id="dashboard-home-btn" type="button" value="Existing Records">
  <input id="dashboard-new-session-btn" type="button" value="Create Session">
</div>
