<div class="form-container form-group update-sessions-form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8">
      <h1>Update Student Form</h1>
      <form class="form sessions-form" id="update-session-form" name="update-session-form">
        <fieldset>
          <p id="update-session-error"></p>
          <p>All fields are <u>optional</u> unless otherwise indicated</p>

          <div class="form-group">
            <label>Session Date</label>
            <input class="form-control" name="session[obs_on]" placeholder="Session Date" type="date" value="{{session.obs_on}}">
          </div>

          <div class="form-group setting-field-container">
            <label>Session Setting (required)</label>
            <div class="setting-field-notification"></div>
            <input class="form-control setting-required" name="session[obs_setting]" placeholder="Session Setting" type="text" value="{{session.obs_setting}}">
          </div>

          <div class="form-group task-field-container">
            <label>Session Task (required)</label>
            <div class="task-field-notification"></div>
            <input class="form-control task-required" name="session[obs_task]" placeholder="Session Task" type="text" value="{{session.obs_task}}">
          </div>

          <div class="form-group">
            <label>Number of Intervals (read-only)</label>
            <input class="form-control read-only" name="session[int_num]" placeholder="Number of Intervals" type="text" value="{{session.int_num}}" readonly>
          </div>

          <div class="form-group">
            <label>Time of Intervals (in seconds) (read-only)</label>
            <input class="form-control read-only" name="session[obs_time]" type="text" placeholder="Time" value="{{session.obs_time}}" readonly>
          </div>

          <div class="form-group">
            <label>Session Comments</label>
            <input class="form-control" name="session[comment]" placeholder="Comment" type="text" value="{{session.comment}}">
          </div>

          <div class="form-group submit-btn-container">
            <input name="submit" id="update-session-submit" class="current btn btn-success submit-btn update-session-submit" type="submit" value="Submit Update" data-obs-time="{{session.obs_time}}" data-int-num="{{session.int_num}}" data-current-student-id="" data-current-session-id="{{session.id}}">
            <button class="btn btn-danger submit-btn current session-cancel-btn" data-current-student-id="" data-current-session-id="{{session.id}}">Cancel</button>
          </div>
        </fieldset>
      </form>
      <div class="dashboard-container well">
        <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Students</button>
        <button id="dashboard-new-session-btn" type="button" class="btn btn-success">Create Session</button>
      </div>
    </div>
  </div>
</div>
