<h2>Student Summary</h2>
<p class="student-summary-name">{{student.first_name}} {{student.last_name}}</p>
<table class="table report-student-summary">
  <tr>
    <td>DOB: {{student.born_on}}</td>
    <td>School: {{student.school}}</td>
  </tr>
  <tr>
    <td>Teacher: {{student.teacher}}</td>
    <td>Grade: {{student.grade}}</td>
  </tr>
</table>
