
<table class="table report-student-summary table-hover">
  <tr>
    <th colspan="2">{{student.first_name}} {{student.last_name}}</th>
  </tr>
  <tr>
    <td>DOB: {{student.born_on}}</td>
    <td>School: {{student.school}}</td>
  </tr>
  <tr>
    <td>Teacher: {{student.teacher}}</td>
    <td>Grade: {{student.grade}}</td>
  </tr>
</table>
<br><br>
