<div class="report-writeup-table">
    <h1>Written Report</h1>

  <!-- <div class="writeup-printer-friendly-container">
    <button id="writeup-printer-friendly-btn" class="btn btn-default btn-sm current" type="button" data-current-student-id="" data-current-session-id="">Printer Frindely</button>
  </div> -->

  <div class="writeup-presenting-issue-container">
    <p class="write-section-header">Presenting Issues</p>
    <p id="written-report-text-presenting-issue" class="write-up-section-text">{{report.presenting_issue}}</p>
  </div>
  <br>
  <div class="writeup-classroom-behavior-assessment-container">
    <p class="write-section-header">Classroom Behavior Assessment</p>
    <p id="written-report-text-class-behav-assess" class="write-up-section-text">{{report.class_behav_assess}}</p>
  </div>
  <br>
  <div class="writeup-setting-container">
    <p class="write-section-header">Setting</p>
    <p id="written-report-text-r-setting" class="write-up-section-text">{{report.r_setting}}</p>
  </div>
  <br>
  <div class="writeup-aet-container">
    <p class="write-section-header">Active Engaged Time</p>
    <p id="written-report-text-r-aet" class="write-up-section-text">{{report.r_aet}}</p>
  </div>
  <br>
  <div class="writeup-pet-container">
    <p class="write-section-header">Passive Engaged Time</p>
    <p id="written-report-text-r-pet" class="write-up-section-text">{{report.r_pet}}</p>
  </div>
  <br>
  <div class="writeup-oftm-container">
    <p class="write-section-header">Off-Task Motor Behavior</p>
    <p id="written-report-text-r-oftm" class="write-up-section-text">{{report.r_oftm}}</p>
  </div>
  <br>
  <div class="writeup-oftv-container">
    <p class="write-section-header">Off-Task Verbal Behavior</p>
    <p id="written-report-text-r-oftv" class="write-up-section-text">{{report.r_oftv}}</p>
  </div>
  <br>
  <div class="writeup-oftp-container">
    <p class="write-section-header">Off-Task Passive Behavior</p>
    <p id="written-report-text-r-oftp" class="write-up-section-text">{{report.r_oftp}}</p>
  </div>
  <br>
  <div class="writeup-findings-container">
    <p class="write-section-header">Findings</p>
    <p id="written-report-text-r-finding" class="write-up-section-text">{{report.r_finding}}</p>
  </div>
  <br>
  <div class="writeup-custom-one-container">
    <p id="written-report-text-r-custom-one-title" class="write-section-header">{{report.custom_one_title}}</p>
    <p id="written-report-text-r-customone" class="write-up-section-text">{{report.r_customone}}</p>
  </div>
  <br>
  <div class="writeup-custom-two-container">
    <p id="written-report-text-r-custom-two-title" class="write-section-header">{{report.custom_two_title}}</p>
    <p id="written-report-text-r-customtwo" class="write-up-section-text">{{report.r_customtwo}}</p>
  </div>
  <br>
  <div class="writeup-custom-three-container">
    <p id="written-report-text-r-custom-three-title" class="write-section-header">{{report.custom_three_title}}</p>
    <p id="written-report-text-r-customthree" class="write-up-section-text">{{report.r_customthree}}</p>
  </div>
  <br>
  <div class="writeup-recommendations-container">
    <p class="write-section-header">Recommendations</p>
    <p id="written-report-text-r-recommendation" class="write-up-section-text">{{report.r_recommendation}}</p>
  </div>
  <br>
  <br>
  <div class="writeup-counselor-name-container">
    <p id="written-report-text-counselor-name" class="write-up-section-text">{{report.counselor_name}}</p>
  </div>

</div>
