<h1>Student Dashboard</h1>

<table class="table student-summary-table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>School</th>
      <th>Teacher</th>
      <th>Grade</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each students as |student|}}
      <tr>
        <td class="display-student-fn">
          {{student.first_name}}
        </td>
        <td class="display-student-ln">
          {{student.last_name}}
        </td>
        <td class="display-student-dob">
          {{student.born_on}}
        </td>
        <td class="display-student-school">
          {{student.school}}
        </td>
        <td class="display-student-teacher">
          {{student.teacher}}
        </td>
        <td class="display-student-grade">
          {{student.grade}}
        </td>
        <td class="display-obs-obs-comment">
          <button type="button" class="btn btn-outline-success btn-sm dashboard-student-record-btn" data-current-student-id="{{student.id}}">View Student</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-new-session-btn" type="button" class="btn btn-primary">Create Session</button>
</div>
