

  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-lg-6 max-xs">
      <h2 class="underline-h">Student Information</h2>
      <table class="table student-record-table">
        <tbody>
          <tr>
            <td class="student-record-title student-name-header">
              Name:
            </td>
            <td class="display-student-dob">
              {{student.first_name}} {{student.last_name}}
            </td>
          </tr>
          <tr>
            <td class="student-record-title student-record-dob">
              Date of Birth:
            </td>
            <td class="display-student-dob">
              {{student.born_on}}
            </td>
          </tr>
          <tr>
            <td class="student-record-title student-record-school">
              School:
            </td>
            <td class="display-student-school">
              {{student.school}}
            </td>
          </tr>
          <tr>
            <td class="student-record-title student-record-teacher">
              Teacher:
            </td>
            <td class="display-student-teacher">
              {{student.teacher}}
            </td>
          </tr>
          <tr>
            <td class="student-record-title student-record-grade">
              Grade:
            </td>
            <td class="display-student-grade">
              {{student.grade}}
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button id="student-record-btn-edit" type="button" class="btn btn-warning" data-current-student-id="{{student.id}}">Edit Record</button>
        <button type="button" class="btn show-record-delete btn-danger" data-current-student-id="{{student.id}}">Delete Record</button>
      </div>
    </div>
  </div>
  <div class="row delete-confirmation-row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10">
      <div class="delete-confirmation-contain phone-center">
        <div class="form-group delete-confirmation">
          <h3>Warning:</h3>
          <p>Deleting this student will also delete all associated records (e.g. sessions, observations, reports, etc.)</p>
          <label>Would you like to continue?</label>
          <br>
          <button id="student-record-delete" type="button" class="btn btn-danger current" data-current-student-id="{{student.id}}">Yes</button>
          <button type="button" class="btn btn-primary session-delete-cancel current" data-current-student-id="{{student.id}}">Cancel</button>
        </div>
      </div>
    </div>
  </div>
